<h1>List of all Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <br>
  <%= link_to "Create a new event", new_event_path %>
  <br>
  <%= link_to "See your profile", current_user %>
<% else %>
  <%= button_to "Sign in", new_user_session_path, method: :get %>
<% end %>