<h1> Welcome <%= current_user.email %> </h1>
<h2> Create a new Event <h2>

<% if @event.errors.any? %>
  <div id="error explanation">
  <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being created</h4>
  <ul>
    <% @event.errors.each do |error| %>
      <li><%=error.full_message %></li>
    <% end %>
  </ul>
  </div>
<% end %> 

<%= form_with model: @event do |form| %>
  <%= form.label :name, "Event name:"%>
  <%= form.text_field :name, value: "Type the name of your event" %>
  <br><br>
  <%= form.label :location, "Location:" %>
  <%= form.text_field :location, placeholder: "Event location" %>
  <br><br>
  <%= form.label :date, "Event date:" %>
  <%= form.date_field :date%>
  <br><br>
  <%= form.submit "Create" %>
<% end %>