<h1>Event: <%= @event.name %></h1>
<%= link_to "See all events", events_path %>

<p>Name: <%= @event.name %><p>
<p>Location: <%= @event.location %><p>
<p>Date: <%= @event.date %><p>
<br>

<h2> Attendees </h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.email %>
    </li>
  <% end %>
</ul>

<% if @event.attendees.include? current_user %>
<p>You are attending this event</p>
<%= button_to 'Unattend', unattend_event_path, method: :delete %>
<% else %>
<%= button_to 'Attend', attend_event_path, method: :post %>
<% end %>
