<h1>Event <%= @event.name %></h1>

<p><%= @event.name %><p>
<p>Location: <%= @event.location %><p>
<p>Date: <%= @event.date %><p>
<br>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.email %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "See all events", events_path %>